<% question ||= nil %>
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>
<div class="question-content">
  <div class="question-text text-lead">
    <%= text_with_hashtags(question.text) %>
  </div>
  <% if question.answer.present? %>
    <div class="question-answer text-lead">
      <%= question.answer %>
    </div>
  <% end %>
  <div class="question-date">
    <%= l(question.created_at, format: :short) %>
    <div class="question-text text-lead">
      автор:
      <%= link_to_question_author(question) %>
    </div>
  </div>
  <% if question.user == current_user %>
    <div class="question-opt">
      <%= link_to fa_icon(action_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
        method: :delete, data: { confirm: 'Удалить вопрос?' } %>
    </div>
  <% end %>
</div>
