<%# Страница редактирования пользователя %>
<div style="background-color: #<%= @user.profilecolor %>" class="flex-section">
  <h1 class="title-medium margin-both text-center">Править профиль</h1>
  <div class="flex-box">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="question-box">
      <div class="form-field">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label 'Ваше имя', class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label 'URL вашей аватарки', class: 'form-label' %>
        <%= f.text_field :avatar_url, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label 'Цвет страницы вашего профиля в формате hex', class: 'form-label' %>
        <div style="text-decoration: underline" class="text-small">
          <%= link_to "помощь в выборе цвета", 'https://www.webfx.com/web-design/color-picker/' %>
        </div>
          <%= f.text_field :profilecolor, class: 'form-text-field' %>
      </div>

      <div class="question-box">
        <div class="margin-both">
          Если не хотите менять пароль — оставьте эти поля пустыми!
        </div>

        <div class="form-field">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-text-field' %>
        </div>

        <div class="form-action margin-top text-center">
          <%= f.submit 'Сохранить', class: 'button' %>
        </div>
      </div>
    <% end %>
    <div class="margin-top-large question-box">
      <div class=" form-label">
        Чтобы удалить профиль введите пароль в поле ниже.
      </div>
      <%= form_tag user_path(@user), method: :delete do %>
        <%= password_field_tag :password, nil, class: 'form-text-field' %>
        <div class="margin-top text-center">
          <%= submit_tag 'Удалить', class: 'button small'%>
        </div>
      <% end %>
    </div>
  </div>
</div>

