<div style="background-color: #<%= @user.profilecolor %>" class="flex-section">
  <div class="margin-both-large text-center">
    <h2 class="text-medium"><%= @user.name %></h2>
    <div>
      <%=image_tag user_avatar(@user), alt: "[Photo]", class: "avatar" %>
    </div>
    <h2 class="text-medium">@<%= @user.username %></h2>
  </div>

  <div class="flex-box">
    <div class="margin-both">
      <div class="question-box">
        <div class="text-lead">
          <%= @questions_count %>
          <%= sklonyator(@questions_count) %>
        </div>
        <% if @questions.present? %>
        <div class="text-lead">
          <%= @answers_count %>
          <%= sklonyator(@answers_count) %> с ответом
        </div>
        <div class="text-lead">
          <%= @unanswered_count %>
          <%= sklonyator(@unanswered_count) %> без ответа
        </div>
        <div class="question">
          <% @questions.each do |question| %>
          <%= render partial: 'questions/question', object: question %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="margin-both">
      <div class="question-box">
        <%= form_for(@new_question) do |f| %>
          <%= f.hidden_field :user_id %>

          <div class="form-field">
            <%= f.label "Ваш вопрос для @#{@user.username}", class: 'form-label' %>
            <%= f.text_area :text, class: 'form-textarea' %>
          </div>

          <div class="form-action">
            <%= submit_tag 'Задать вопрос', class: 'button small' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user == @user %>
    <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'button small' %>
  <% end %>
</div>

